<% if @side_bar_lists.present? %>
  <ul class="list-unstyled side-lists">
  <% @side_bar_lists.each do |list| %>
    <li>
      <% if list == @list && request.path.include?('claimable') %>
        <%= list.name %>
      <% else %>
        <%= link_to list.name, list_claimable_path(list.id) %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
