<script>
  setTimeout(() => window.location = "https://wish-list.fly.dev/", 5000);
</script>

<div style="margin: auto; width: 50%; margin-top: 5%;">
  <h1 style="font-size: 40px;">The Wish List has moved!</h1>
  <p style="font-size: 25px; line-height: 40px;">
    It can now be found at <a href="https://wish-list.fly.dev/">https://wish-list.fly.dev/</a>. <br />
    You should automatically redirected there shortly.
  </p>
</div>
