<tr>
  <input class="item-id" type="hidden" value="<%= item.id %>">
  <td class="item-row">
    <span class="item-show-section item-text"><%= item.name %></span>
    <input class="item-edit-section item-edit-input form-control" type="text" value="<%= item.name %>">
  </td>
  <td class="text-right table-actions">
    <!-- Show -->
    <a class="item-show-section item-edit text-muted">Edit</a>
    <span class="item-show-section text-muted">|</span>
    <a class="item-show-section item-remove text-muted">Remove</a>
    <!-- Edit -->
    <a class="item-edit-section item-update text-muted">Save</a>
    <span class="item-edit-section text-muted">|</span>
    <a class="item-edit-section item-cancel text-muted">Cancel</a>
  </td>
</li>
