<li>
  <input class="item-id" type="hidden" value="<%= item.id %>">
  <div class="item-show-section">
    <span class="item-text"><%= item.name %></span>
    <a class="item-edit text-muted">Edit</a>
    <span class="text-muted">|</span>
    <a class="item-remove text-muted">Remove</a>
  </div>
  <div class="item-edit-section">
    <input class="item-edit-input" type="text" value="<%= item.name %>">
    <a class="item-update text-muted">Save</a>
    <span class="text-muted">|</span>
    <a class="item-cancel text-muted">Cancel</a>
  </div>
</li>
