body {
  padding: 5px 10px;
  min-width: 1190px;
}

.flash-message {
  p {
    padding: 8px;
  }
}

ul.side-lists {
  li {
    padding-top: 5px;

    &:hover {
      .hidden-edit-link {
         display: inline;
      }
    }
  }

  .hidden-edit-link {
    display: none;
  }
}

a > img {
  cursor: pointer;
}

a[class*="-edit"]:hover,
a[class*="-move"]:hover,
a[class*="-remove"]:hover {
  text-decoration: none;
}

.table-actions {
  white-space: nowrap;
  width: 110px;
}

.sub-categroy-table {
  margin-left: 29px;
  border-left: 1px solid grey;
  width: calc(100% - 30px);
}

a.create-sub-category {
  display: block;
  margin-top: -10px;
}

.category-row,
.item-row {
  width: 80%;
}

.quantity,
.quantity-header {
  text-align: center;
}

.claim-quantity-input {
  display: inline;
}

.list-name {
  display: none;
}

.qty-cell {
  width: 55px;
}

.grey {
  color: #6b6969;
}

#side-user-list:empty {
  display: none;
}

.claim-cell {
  white-space: nowrap;
  width: 110px;

  div {
    display: flex;
  }
}

.qty-heading {
  vertical-align: middle !important; /* TODO: find better way */
  width: 15px;
}

#claimable-items td,
#claimed-items,
td {
  vertical-align: middle;
}

#claim-items .sub-category-indent {
  width: 30px;
}

div.form-buttons {
  display: flex;
  justify-content: space-between;
}

.lists {
  max-width: 860px;

  th:last-of-type, td:last-of-type {
    width: 170px;
  }

  a[data-method="delete"] {
    opacity: 0.6;

    &:hover {
      color: red;
    }
  }

  h4 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .form-buttons {
    padding-top: 5px;
  }
}

#list-permissions-table {
  tbody {
    tr:hover {
      background: linear-gradient(#ffffff, #f2f0f0);
      border-bottom: 1px solid #d3d3d3;
    }
  }

  .user-name {
    padding-right: 20px;
  }

  .table-input {
    text-align: center;
    vertical-align: middle;
    padding: 0 10px;
  }
}

.empty-item-list {
  // border-bottom: 1px solid rgb(128, 128, 128);
  padding: 16px 0;
  margin: 16px 0 40px 0;

  &--line {
    border-bottom: 1px solid rgb(128, 128, 128);
  }
}
