body {
  padding: 5px 10px;
  min-width: 1190px;
}

.main-content-margin-hack {
  margin-top: 50px;
}

.table-actions {
  white-space: nowrap;
  width: 110px;
}

.sub-categroy-table {
  margin-left: 29px;
  border-left: 1px solid grey;
  width: calc(100% - 30px);
}

a.create-sub-category {
  display: block;
  margin-top: -10px;
}

.category-row,
.item-row {
  width: 80%;
}

.quantity,
.quantity-header {
  text-align: center;
}

.claim-quantity-input {
  display: inline;
}

.list-name {
  display: none;
}

.qty-cell {
  width: 55px;
}

.grey {
  color: #6b6969;
}

#side-user-list:empty {
  display: none;
}

.claim-cell {
  white-space: nowrap;
  width: 110px;

  div {
    display: flex;
  }
}

.qty-heading {
  vertical-align: middle !important; /* TODO: find better way */
  width: 15px;
}

#claimable-items td,
#claimed-items,
td {
  vertical-align: middle;
}

#claim-items .sub-category-indent {
  width: 30px;
}

div.form-buttons {
  display: flex;
  justify-content: space-between;
}
