@media print {
  input,
  .navbar,
  .claim-cell > div,
  .claim-cell > a,
  #side-user-list {
    display: none;
  }

  body {
    font-size: 16px;
  }

  .main-content-margin-hack {
    margin-top: auto;
  }

  .list-name {
    display: block;
  }

  .category-header {
    border-bottom: 2px solid grey;

    > * {
      vertical-align: bottom !important;
    }

    h4 {
      font-size: 24px;
    }
  }
}
